body {
  background-color: #eeeeee;
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}


.center{
  text-align: center;
}

a{
  color: #e91e63;
}

// h2 a:visited{
//   color: #b0003a;
// }