.projects-card {
}

.project-container {
  margin: 20px;
}

.project-img {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle;
  //   height: auto;
  //   min-height: 200px;
  //   min-width: 200px;
}
